body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* position: relative; */
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
	/* display: block; */
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	/* padding: 1rem 4rem; */
	font-weight: Regular;
	background: #d9d9d9;
	border: 3px outset #c5c5c5;
	color: #000000;
	transition: 0.3s;
}
button:hover {
	background: #f2f2f2;
	border: 3px outset #d9d9d9;
	color: #000000;
}



body.open{
  overflow-y:hidden;
}


/* モーダル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  height:100dvh;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  
  
}
.modal-inner{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.modal-content {
  background-color: #f4f4f4;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 0;
}

.modal-header {
  background: rgb(217, 217, 217);
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}

footer{
  background-color: #f4f4f4;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}