body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
	/* display: block; */
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	/* padding: 1rem 4rem; */
	font-weight: Regular;
	background: #d9d9d9;
	border: 3px outset #c5c5c5;
	color: #000000;
	transition: 0.3s;
}
button:hover {
	background: #f2f2f2;
	border: 3px outset #d9d9d9;
	color: #000000;
}
